@using SpiceApp.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpiceApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="search-background">
    <header>
        
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">Spice <span class="text-danger">Demo App</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <partial name="_LoginPartial" />
          <ul class="navbar-nav">
              @if (User.IsInRole(SD.ManagerUser))
              {
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Content Managment
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                          <a class="dropdown-item nav-item" asp-action="Index" asp-controller="Category" asp-area="Admin">Category</a>
                          <a class="dropdown-item nav-item" asp-action="Index" asp-controller="SubCategory" asp-area="Admin">Sub Category</a>
                          <a class="dropdown-item nav-item" asp-action="Index" asp-controller="MenuItem" asp-area="Admin">MenuItem</a>
                          <a class="dropdown-item nav-item" asp-action="Index" asp-controller="User" asp-area="Admin">Users</a>
                      </div>
                  </li>
              }
              @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.CustomerEndUser))
              {
                  <li class="nav-item">
                      <a asp-area="Customer" asp-controller="Order" asp-action="OrderHistory" class="nav-link">
                          Order History
                      </a>
                  </li>
              }
              @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.KitchenUser))
              {
                  <li class="nav-item dropdown text-white-50">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Order
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                          <a class="dropdown-item" asp-action="ManageOrder" asp-controller="Order" asp-area="Customer">Manage Order</a>
                          <a class="dropdown-item" asp-action="OrderPickup" asp-controller="Order" asp-area="Customer">Order Pickup</a>
                      </div>
                  </li>
              }
              @if (HttpContextAccessor.HttpContext.Session.GetInt32("ssCartCount") != null)
              {
                  <li class="nav-item" style="color:white">
                      <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link">
                          @{
                              var count = HttpContextAccessor.HttpContext.Session.GetInt32("ssCartCount");
                          }
                          <i class="fas fa-shopping-cart"></i>&nbsp;(@count)
                      </a>
                  </li>
              }
              else
              {
                  <li class="nav-item" style="color:white">
                      <a href="#" class="nav-link">
                          <i class="fas fa-shopping-cart"></i>&nbsp;(0)
                      </a>
                  </li>
              }
          </ul>
      </div>
    </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pl-3 footer text-white-50" style="background-color: #343a40">
        <div class="container">
            &copy; 2019 - SpiceApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6374d0af9d.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
